= form_for @company do |f|
  -if @company.errors.any?
    #error_explanation
      %h2= "#{pluralize(@company.errors.count, "error")} prohibited this company from being saved:"
      %ul
        - @company.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :website
    = f.text_field :website
  .field
    = f.label :place
    = f.text_field :place
  .field
    = f.label :founded_at
    = f.number_field :founded_at
  .field
    = f.label :workforce
    = f.number_field :fte
  .field
    = f.label :game_devel
    = f.check_box :game_devel
  .actions
    = f.submit 'Save'
