%h1 Listing companies
.flickr_pagination= will_paginate @companies
%table
  %tr
    %th Name
    %th Website
    %th Place
    %th Founded at
    %th Workforce
    %th Game devel
    %th
    %th
    %th

  - @companies.each do |company|
    %tr
      %td= company.name
      %td.website= link_to "Website",(company.website.scan(/^http:\/\//) ? "http://#{company.website}" : company.website) unless company.website.nil?
      %td= company.place
      %td= company.founded_at
      %td= company.fte
      %td= company.game_devel
      %td= link_to 'Show', company
      %td= link_to 'Edit', edit_company_path(company)
      %td= link_to 'Destroy', company, :confirm => 'Are you sure?', :method => :delete

.flickr_pagination= will_paginate @companies
%br
= link_to 'New Company', new_company_path
