%h3 Topics that Appsterdamers reported for themselves
= render :partial => 'nav'
.flickr_pagination= will_paginate @topickeys
%table
  %thead
    %tr
      %th Topic
      %th Frequency
      / %th Appsterdamers
  %tbody
    - @topickeys.each do |topickey|
      %tr
        %td= topickey.title    
        %td= topickey.freq
        / %td
        /   - Member.where('topics.topic_id'=>topickey.topic_id).each do |member|
        /     = link_to(member.name, member_path(member.id))+" | "
.flickr_pagination= will_paginate @topickeys
