= render :partial => 'nav'
%h3 Tags referenced in Topic title
.flickr_pagination= will_paginate @topictags
%table
  %thead
    %tr
      %th Tag
      %th Topics
      %th Frequency
  %tbody
    - @topictags.each do |topictag|
      %tr
        %td
          = topictag.tag
        %td  
          = topictag.union_topickeys.map(&:title).join(" | ")
        %td
          = topictag.union_topickeys.map(&:freq).sum
.flickr_pagination= will_paginate @topictags