<!DOCTYPE html>
<html>
<head>
  <title>Openinnodb</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag "demo_table.css" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "jquery.dataTables.js" %>
<script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
        $('#members,#topickeys').dataTable();
    } );
</script>

  <%= csrf_meta_tags %>
</head>
<body>
<header>
 <nav>
   <ul class='nav-bar'>
     <li><%= link_to "Import from Meetup",import_path,:class=>'main' %></li>
     <li><%= link_to "Show members",members_path,:class=>'main' %></li>
     <li><%= link_to "Topic Keys",topickeys_index_path,:class=>'main' %></li>
     <li><%= link_to "Show Topics graph",topickeys_statistics_path,:class=>'main' %></li>
     <li><%= link_to "Meetups",groups_index_path,:class=>'main' %></li>
     <li><%= link_to "Resque Q",'/resque',:class=>'main' %></li>
   </ul>
 </nav>
  <% if flash[:notice] %>
      <p id="notice"><%= flash[:notice] %></p>
  <% end %>
  <% if flash[:error] %>
      <p id="error"><%= flash[:error] %></p>
  <% end %>

</header>

<%= yield %>

<footer></footer>
</body>
</html>
