= form_for @lnkdin do |f|
  -if @lnkdin.errors.any?
    #error_explanation
      %h2= "#{pluralize(@lnkdin.errors.count, "error")} prohibited this lnkdin from being saved:"
      %ul
        - @lnkdin.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :positions
    = f.text_field :positions
  .field
    = f.label :first_name
    = f.text_field :first_name
  .field
    = f.label :last_name
    = f.text_field :last_name
  .actions
    = f.submit 'Save'
