%h1 Listing lnkdins

%table
  %tr
    %th Positions
    %th First name
    %th Last name
    %th
    %th
    %th

  - @lnkdins.each do |lnkdin|
    %tr
      %td= lnkdin.positions
      %td= lnkdin.first_name
      %td= lnkdin.last_name
      %td= link_to 'Show', lnkdin
      %td= link_to 'Edit', edit_lnkdin_path(lnkdin)
      %td= link_to 'Destroy', lnkdin, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Lnkdin', new_lnkdin_path
