<h1>Listing mobapps</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Creator</th>
    <th>Commissioner</th>
    <th>Copyright</th>
    <th>Appic</th>
    <th>Novel</th>
    <th>Repackaged</th>
    <th>Devlanguage</th>
    <th>Platform</th>
    <th>Hardware</th>
    <th>Date</th>
    <th>Updated</th>
    <th>Location</th>
    <th>Downloads</th>
    <th>Returnusers</th>
    <th>Rating</th>
    <th>Free</th>
    <th>Paid</th>
    <th>Category</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @mobapps.each do |mobapp| %>
  <tr>
    <td><%= mobapp.name %></td>
    <td><%= mobapp.creator %></td>
    <td><%= mobapp.commissioner %></td>
    <td><%= mobapp.copyright %></td>
    <td><%= mobapp.appic %></td>
    <td><%= mobapp.novel %></td>
    <td><%= mobapp.repackaged %></td>
    <td><%= mobapp.devlanguage %></td>
    <td><%= mobapp.platform %></td>
    <td><%= mobapp.hardware %></td>
    <td><%= mobapp.date %></td>
    <td><%= mobapp.updated %></td>
    <td><%= mobapp.location %></td>
    <td><%= mobapp.downloads %></td>
    <td><%= mobapp.returnusers %></td>
    <td><%= mobapp.rating %></td>
    <td><%= mobapp.free %></td>
    <td><%= mobapp.paid %></td>
    <td><%= mobapp.category %></td>
    <td><%= link_to 'Show', mobapp %></td>
    <td><%= link_to 'Edit', edit_mobapp_path(mobapp) %></td>
    <td><%= link_to 'Destroy', mobapp, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Mobapp', new_mobapp_path %>
