<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @mobapp.name %>
</p>

<p>
  <b>Creator:</b>
  <%= @mobapp.creator %>
</p>

<p>
  <b>Commissioner:</b>
  <%= @mobapp.commissioner %>
</p>

<p>
  <b>Copyright:</b>
  <%= @mobapp.copyright %>
</p>

<p>
  <b>Appic:</b>
  <%= @mobapp.appic %>
</p>

<p>
  <b>Novel:</b>
  <%= @mobapp.novel %>
</p>

<p>
  <b>Repackaged:</b>
  <%= @mobapp.repackaged %>
</p>

<p>
  <b>Devlanguage:</b>
  <%= @mobapp.devlanguage %>
</p>

<p>
  <b>Platform:</b>
  <%= @mobapp.platform %>
</p>

<p>
  <b>Hardware:</b>
  <%= @mobapp.hardware %>
</p>

<p>
  <b>Date:</b>
  <%= @mobapp.date %>
</p>

<p>
  <b>Updated:</b>
  <%= @mobapp.updated %>
</p>

<p>
  <b>Location:</b>
  <%= @mobapp.location %>
</p>

<p>
  <b>Downloads:</b>
  <%= @mobapp.downloads %>
</p>

<p>
  <b>Returnusers:</b>
  <%= @mobapp.returnusers %>
</p>

<p>
  <b>Rating:</b>
  <%= @mobapp.rating %>
</p>

<p>
  <b>Free:</b>
  <%= @mobapp.free %>
</p>

<p>
  <b>Paid:</b>
  <%= @mobapp.paid %>
</p>

<p>
  <b>Category:</b>
  <%= @mobapp.category %>
</p>


<%= link_to 'Edit', edit_mobapp_path(@mobapp) %> |
<%= link_to 'Back', mobapps_path %>
