<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :firstname %><br />
    <%= f.text_field :firstname %>
  </div>
  <div class="field">
    <%= f.label :lastname %><br />
    <%= f.text_field :lastname %>
  </div>
  <div class="field">
    <%= f.label :twitterid %><br />
    <%= f.text_field :twitterid %>
  </div>
  <div class="field">
    <%= f.label :emailadd %><br />
    <%= f.text_field :emailadd %>
  </div>
  <div class="field">
    <%= f.label :urladd %><br />
    <%= f.text_field :urladd %>
  </div>
  <div class="field">
    <%= f.label :origin %><br />
    <%= f.text_field :origin %>
  </div>
  <div class="field">
    <%= f.label :location %><br />
    <%= f.text_field :location %>
  </div>
  <div class="field">
    <%= f.label :age %><br />
    <%= f.text_field :age %>
  </div>
  <div class="field">
    <%= f.label :background %><br />
    <%= f.text_field :background %>
  </div>
  <div class="field">
    <%= f.label :yearsofexp %><br />
    <%= f.text_field :yearsofexp %>
  </div>
  <div class="field">
    <%= f.label :sex %><br />
    <%= f.text_field :sex %>
  </div>
  <div class="field">
    <%= f.label :education %><br />
    <%= f.text_field :education %>
  </div>
  <div class="field">
    <%= f.label :mentor %><br />
    <%= f.text_field :mentor %>
  </div>
  <div class="field">
    <%= f.label :income %><br />
    <%= f.number_field :income %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
