<p id="notice"><%= notice %></p>

<p>
  <b>Firstname:</b>
  <%= @user.firstname %>
</p>

<p>
  <b>Lastname:</b>
  <%= @user.lastname %>
</p>

<p>
  <b>Twitterid:</b>
  <%= @user.twitterid %>
</p>

<p>
  <b>Emailadd:</b>
  <%= @user.emailadd %>
</p>

<p>
  <b>Urladd:</b>
  <%= @user.urladd %>
</p>

<p>
  <b>Origin:</b>
  <%= @user.origin %>
</p>

<p>
  <b>Location:</b>
  <%= @user.location %>
</p>

<p>
  <b>Age:</b>
  <%= @user.age %>
</p>

<p>
  <b>Background:</b>
  <%= @user.background %>
</p>

<p>
  <b>Yearsofexp:</b>
  <%= @user.yearsofexp %>
</p>

<p>
  <b>Sex:</b>
  <%= @user.sex %>
</p>

<p>
  <b>Education:</b>
  <%= @user.education %>
</p>

<p>
  <b>Mentor:</b>
  <%= @user.mentor %>
</p>

<p>
  <b>Income:</b>
  <%= @user.income %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
