<h1>Details for <%= @member.name %></h1>

<p>
  <b>Meetup ID:</b>
  <%= link_to @member.meetup_id,@member.link %>
</p>

<h2>Activity</h2>
<p>
  <b>Joined:</b>
  <%= todate(@member.joined).to_date %>
</p>

<p>
  <b>Last visited:</b>
  <%= todate(@member.visited).to_date %>
</p>

<h2>Geography</h2>

<p>
  <b>City:</b>
  <%= @member.city %>
</p>

<p>
  <b>State:</b>
  <%= @member.state %>
</p>

<p>
  <b>Country:</b>
  <%= @member.country %>
</p>

<h2>Personal:</h2>

<p>
 <b>Bio:</b>
  <%= @member.bio %>
</p>

<p>
  <b>Topics:</b>
  <%= @member.topics_titles.join(",") %>
</p>

<p>
  <b>Other services:</b>
  <br>
  <% @member.other_services.each do |s| %>
    <% if s.name=="linkedin" %>
         <%= s.name %>: <%= link_to s.srv_id, s.srv_id %><br>
       <% else %>
         <%= s.name %>: <%= s.srv_id %><br>
       <% end %>
    <% end %>
</p>

