= form_for @gituser do |f|
  -if @gituser.errors.any?
    #error_explanation
      %h2= "#{pluralize(@gituser.errors.count, "error")} prohibited this gituser from being saved:"
      %ul
        - @gituser.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :username
    = f.text_field :username
  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :language
    = f.text_field :language
  .field
    = f.label :url
    = f.text_field :url
  .field
    = f.label :member_since
    = f.date_select :member_since
  .field
    = f.label :repos
    = f.number_field :repos
  .field
    = f.label :email
    = f.text_field :email
  .field
    = f.label :followers
    = f.number_field :followers
  .field
    = f.label :location
    = f.text_field :location
  .field
    = f.label :personal_url
    = f.text_field :personal_url
  .field
    = f.label :company
    = f.text_field :company
  .field
    = f.label :projects
    = f.text_field :projects
  .actions
    = f.submit 'Save'
