%p#notice= notice

%p
  %b Username:
  = @gituser.username
%p
  %b Name:
  = @gituser.name
%p
  %b Language:
  = @gituser.language
%p
  %b Url:
  = @gituser.url
%p
  %b Member since:
  = @gituser.member_since
%p
  %b Repos:
  = @gituser.repos
%p
  %b Email:
  = @gituser.email
%p
  %b Followers:
  = @gituser.followers
%p
  %b Location:
  = @gituser.location
%p
  %b Personal url:
  = @gituser.personal_url
%p
  %b Company:
  = @gituser.company
%p
  %b Projects:
  = @gituser.projects

= link_to 'Edit', edit_gituser_path(@gituser)
\|
= link_to 'Back', gitusers_path
