%h3 Group #{@group.name}

%p
  %b City:
  = @group.city
%p
  %b Country:
  = @group.country
%p
  %b Created:
  = todate(@group.created)
%p
  %b Description:
  = @group.description
%p
  %b Group_photo:
  = image_tag(@group.group_photo['thumb_link'])
%p
  %b Join_mode:
  = @group.join_mode
%p
  %b Lat:
  = @group.lat
%p
  %b Link:
  = link_to('Group webpage',@group.link)
%p
  %b Lon:	
  = @group.lon
%p
  %b Name:
  = @group.name
%p
  %b Organizer:
  = @group.organizer['name']
%p
  %b Rating:
  = @group.rating
%p
  %b State:
  = @group.state
%p
  %b Visibility:
  = @group.visibility
%p
  %b Who:  
  = @group.who